:host {
  h1 {
    text-align: center;
  }

  h4 {
    text-align: center;
    color: #6d6d6d;
  }

  .wrapper-center {
    flex-flow: row !important;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    display: flex;
    flex-flow: column;
    gap: 8px;

    img {
      width: 25px;
      cursor: pointer;
      transition: All 0.4s ease-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  form {
    display: flex;
    flex-flow: row;

    input {
      min-width: 175px;
    }
  }
}
