<h1>List of received messages</h1>

<!-- unedited form -->
<div class="wrapper" [ngClass]="{ 'wrapper-center': !editUsername }">
  <ng-container *ngIf="!editUsername; else showEditUsername">
    <h4>Logged in as : {{ username }}</h4>
    <img
      src="assets/edit_icon.svg"
      alt="edit icon"
      (click)="onEditUsername()" />
  </ng-container>
</div>

<!-- edit username -->
<ng-template #showEditUsername>
  <form [formGroup]="form" (submit)="submitEditedUsenrame()">
    <input
      formControlName="username"
      type="text"
      placeholder="enter your new username" />
    <button type="submit">change name</button>
  </form>

  <!-- required error -->
  <div
    *ngIf="form.controls.username.errors?.['required']"
    class="error-message">
    Username is required
  </div>

  <!-- min width errir -->
  <div
    *ngIf="form.controls.username.errors?.['minlength']"
    class="error-message">
    Username min length is 6 characters
  </div>

  <!-- max width error -->
  <div
    *ngIf="form.controls.username.errors?.['maxlength']"
    class="error-message">
    Username max length is 20 characters
  </div>
</ng-template>
