:host {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .card{
    padding: 3rem;
    gap: 1rem;
    .message-wrapper {
      display: flex;
      flex-flow: column;
      gap: 12px;
      height: 500px;
      width: 600px;
      padding: 12px;
      overflow-y: auto;
      box-shadow: 0px 2px 5px -3px;
    }
    
    .message-wrapper::after{
      content: '';
      background-color: red;
    }

    form{
      width: 100%;
      .form-control,button{
        width: 100%;
        margin-bottom: .5rem;
      }
      input{
        width: 100%;
      }
    }
  }
}
