:host {
  width: 60vw;

  .message-wrapper {
    display: flex;
    flex-flow: column;
    gap: 12px;
  }

  form {
    display: flex;
    flex-flow: column;
    gap: 12px;
    margin-top: 24px;
  }

  h1 {
    text-align: center;
  }

  input {
    color: #333;
    font-size: 16px;
    margin: 0 auto;
    padding: 16px;
    border-radius: 0.2rem;
    border: none;
    width: 90%;
    display: block;
  }

  button {
    background-color: #0084ff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    width: 80%;
    margin: auto;
    cursor: pointer;
    color: white;
    font-size: 16px;
    transition: 0.3s;

    &:hover {
      background-color: #68b6ff;
    }
  }

}
