:host {
  width: 60vw;

  .message-wrapper {
    display: flex;
    flex-flow: column;
    gap: 12px;
    height: 650px;
    padding: 12px;
    overflow-y: scroll;
  }

  h1 {
    text-align: center;
  }

  h4 {
    text-align: center;
    color: #6d6d6d;
  }
}
