<div class="card">
  <!-- header -->
  <app-chat-header> </app-chat-header>

  <!-- messages -->
  <div *ngIf="userData$ | async as authUser" class="message-wrapper">
    <app-message *ngFor="let message of messages$ | async" 
      [message]="message"
      [authUserName]="authUser.username"
      [authUserId]="authUser.userId"
      >
    </app-message>
  </div>

  <!-- form -->
  <form [formGroup]="form" (submit)="sendMessage()">
    <div class="form-control">
      <input formControlName="message" type="text" placeholder="enter your text" />
      <div *ngIf="form.controls.message.touched && form.controls.message.errors?.['required']" class="error-message">
        Please enter a message.</div>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>