
<h1>Login in</h1>
<h4>Please enter whatever credentials</h4>

<form [formGroup]="form" (submit)="submit()">
  <!-- username -->
  <input formControlName="username" type="text" placeholder="enter your username"  />
  <div *ngIf="username.touched && username.errors?.['required']" class="error-message">Username is required</div>

  <!-- password -->
  <input formControlName="password" type="password" placeholder="enter your password"  />
  <div *ngIf="password.touched && password.errors?.['required']" class="error-message">Password is required</div>

  <!-- submit -->
  <button type="submit">Submit</button>
</form>
