<div class="card">
  <h1>Login</h1>
  <h2>Please enter whatever credentials</h2>

  <form [formGroup]="form" (submit)="submit()">
    <!-- username -->
    <div class="form-group">
      <label for="username">User name:</label>
      <input
        id="username"
        formControlName="username"
        type="text"
        placeholder="enter your username" />
      <div
        *ngIf="form.controls.username.touched && form.controls.username.errors?.['required']"
        class="error-message">
        Username is required
      </div>
    </div>

    <!-- password -->
    <div class="form-group">
      <label for="password">Password</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        placeholder="enter your password" />
      <div
        *ngIf="form.controls.password.touched && form.controls.password.errors?.['required']"
        class="error-message">
        Password is required
      </div>
    </div>

    <!-- submit -->
    <button type="submit">Submit</button>
  </form>
</div>
