<div
  [ngClass]="{
    'my-message': connectedUserIsSender,
    'external-message': !connectedUserIsSender,
    pending: message.status === PENDING
  }">
  <h1>
    <img
      *ngIf="!connectedUserIsSender && userStatus"
      src="assets/svgs/{{ userStatus === ONLINE ? 'online' : 'offline' }}.svg"
      width="13"
      alt="user online status" />

    {{ userName }}
  </h1>
  <p>{{ message.body }}</p>

  <span [class.pending]="message.status === PENDING">
    <ng-container *ngIf="message.status !== PENDING; else pendingTPL">
      {{ message.time | date: ' MMM dd, hh:mm a' }}
    </ng-container>
    <ng-template #pendingTPL> Pending... </ng-template>
  </span>
</div>
