<div [ngClass]="{
    'my-message': !isExternalMessage,
    'external-message': isExternalMessage,
    'pending':message.status===PENDING
  }">

  <h1>
    <ng-container *ngIf="isExternalMessage && (message.userId | userData|async) as user;else externalTitleTpl">
        <img src="assets/svgs/{{user.status === ONLINE?'online':'offline'}}.svg" width="13" alt="user online status">
        {{user.name}}
    </ng-container>
    <ng-template #externalTitleTpl>
      {{authUserName}}
    </ng-template>
  </h1>
  <p> {{message.body}} </p>

  <span [class.pending]="message.status===PENDING">
    <ng-container *ngIf="message.status!==PENDING; else pendingTPL">
      {{ message.time | date :' MM mm ,at h:mm' }}
    </ng-container>
    <ng-template #pendingTPL>
      Pending...
    </ng-template>

  </span>
</div>